@model TeknikServisTakip.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Forgot Password (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="hold-transition login-page">
        @if (ViewBag.State != null)
    {
        @if (ViewBag.State == true)
        {
            <script>
                Swal.fire(
                  'Başarılı',
                  'Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir',
                  'success'
                )
            </script>
        }
        else
        {
            <script>
                Swal.fire(
                  'Hata',
                  'Böyle bir e-posta bulunmamaktadır',
                  'error'
                )
            </script>
        }

    }


        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="" class="h1">Şifremi Unuttum</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Şifrenizi sıfırlamak için sisteme kayıtlı olan mail adresinizi giriniz.</p>
                    <form action="/User/ResetPassword/" method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(x=>x.Email,new {@class="form-control"})


                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x=>x.Email,"",new{@class="text-danger"})
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Şifremi Sıfırla</button>
                            </div>
                            <!-- /.col -->
                    </div>
                    </form>
                    <p class="mt-3 mb-1">
                        <a href="/User/Login/">Giriş yap</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
        </div>
        </div>



    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>
