@using EntityLayer.Concrete
@model Serviceproduct
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    @if(Model!=null){
    <div class="card mt-5" style="width: 60rem;">
        <div class="card-header bg-info">
            Ürün sorgu
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6"><label>Marka:@Model.Brand</label></div>
                <div class="col-md-6"><label>Model:@Model.Model</label></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Problem:@Model.Problem</label></div>
                <div class="col-md-6"><label>Ücret:@Model.Price</label></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Son işlem Tarihi:@Model.LastModifedDate</label></div>
                <div class="col-md-6"><label>Durum:@Model.Servicestatus.StatusName</label></div>
            </div>

        </div>
        </div>
    }
    else
    {
        <h1>Kayıt Bulunamadı</h1>
    }
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>

</html>